$colorFont: black;
$color_change_font: hsl(245, 75%, 52%);
$color_text_description: hsl(224, 23%, 55%);
$bg_color_card: hsl(225, 100%, 98%);
$sizeFont: 16px;
$familyFont: 'Red Hat Display',
sans-serif;